* {
  font-family: 'Open Sans', sans-serif;
}

html, body {
  padding: 0;
  margin: 0;
  background-color: #151718;
  color: #dddddd;
}

h1 {
  font-size: 28px;
  margin-left: 16px;
  margin-bottom: 12px;
  background-color: #202326;
  color: #dddddd;
}

h1 img {
  display: inline-block;
  position: absolute;
  margin-left: 4px;
  top: 25px;
  width: 28px;
  height: 28px;
}

nav {
  position: absolute;
  overflow-y: scroll;
  display: inline-block;
  height: 100vh;
  width: 300px;
  background-color: #202326;
  color: #dddddd;
}

nav ul {
  padding-left: 18px;
  margin-top: 0;
}

nav li {
  list-style: none;
  text-decoration: none;
  font-size: 14px;
  margin-top: 8px;
  margin-bottom: 8px;
}

nav h2 {
  margin-top: 16px;
  margin-bottom: 8px;
  font-size: 16px;
}

main {
  display: inline-block;
  padding-left: 324px;
}

pre {
  background-color: #303437;
  border: 2px solid #666666;
  border-radius: 4px;
  padding: 20px;
  font-family: 'Courier New', Courier, monospace;
}